./aws/base/.terraform/*
./aws/base_customer_vpc/.terraform/*
./aws/security/.terraform/*
./aws/fs_lakehouse/.terraform/*
./azure/base/.terraform/*
./azure/managed_vnet/.terraform/*
./gcp/.terraform/*


./.idea

/azure/managed_vnet/.terraform/
/azure/.terraform/
