# Local .terraform directories
**/.terraform/*

# .tfstate files
**/.tfstate
**/.tfstate.backup
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# MacOS
.DS_Store

# IntelliJ
.idea/

# Terraform
*.tfstate*
*terraform*

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

./modules/aws_base/.terraform/*
./modules/aws_base/.terraform.lock.hcl
./modules/aws_base/terraform.tfstate
./modules/aws_base/terraform.tfstate.backup
./modules/aws_customer_managed_vpc/.terraform/*
./modules/aws_customer_managed_vpc/.terraform.lock.hcl
./modules/aws_customer_managed_vpc/terraform.tfstate
./modules/aws_customer_managed_vpc/terraform.tfstate.backup
./modules/security/.terraform/*
./modules/security/.terraform.lock.hcl
./modules/security/terraform.tfstate
./modules/security/terraform.tfstate.backup
./modules/aws_fs_lakehouse/.terraform/*
./modules/aws_fs_lakehouse/.terraform.lock.hcl
./modules/aws_fs_lakehouse/terraform.tfstate
./modules/aws_fs_lakehouse/terraform.tfstate.backup
./azure/base/.terraform/*
./azure/base/.terraform.lock.hcl
./azure/base/terraform.tfstate
./azure/base/terraform.tfstate.backup
./azure/managed_vnet/.terraform/*
./azure/managed_vnet/.terraform.lock.hcl
./azure/managed_vnet/terraform.tfstate
./azure/managed_vnet/terraform.tfstate.backup
./gcp/.terraform/*
./gcp/.idea/*
./gcp/terraform.tfstate
./gcp/terraform.tfstate.backup
./gcp/.terraform.lock.hcl
./azure/.idea/*
./azure/terraform.tfstate
./azure/terraform.tfstate.backup
./azure/.terraform.lock.hcl


.idea
./.idea
./.idea/*
/azure/managed_vnet/.terraform/
/azure/.terraform/
